body {
  margin-top: 4vh;
  background-color: #e2d8cf;
  font-family: 'Raleway', sans-serif;
  /* overflow-x: hidden;
  overflow-y: hidden; */
}
@media only screen and (min-width: 1024px) {
  .logo {
    margin-left: 3.90625vw;
    margin-top: 1.953125vw;
  }

  .head {
    margin-top: 1.5625vw;
    font-size: 4.296875vw;
    text-align: center;
  }

  .wing {
    /* font-size: 25px; */
    font-size:1.953125vw;
    margin-top: 3.515625vw;
    margin-left: 1.5625vw;
  }

  .hide {
    display: none;
  }
      
  .myDIV:hover + .hide {
    display: block;
    color: red;
  }

  .cont {
    font-size: 1.953125vw;
    margin-left: 0.78125vw;
  }

  .vl {
    border-left: 0.46875vw solid rgb(0, 0, 0);
    border-width: thin;
    height: 25vw;
    margin-left: 3.90625vw;
    margin-top: 1.953125vw;
    
  }

  .name {
    font-size: 1.953125vw;
    margin-top: 4.296875vw;
    /* margin-left: -3px; */
    font-weight: bold;
  }

  .resu {
    font-size: 1.3vw;
  }

  .nmrs {
    display: flex;
  }

  .one { grid-area: one; }
  .two { grid-area: two; }
  .three { grid-area: three; }
  .four { grid-area: four; }
  .five { grid-area: five; }
  .six { grid-area: six;}
  .seven {grid-area: seven;}

  .grid-container {
    display: grid;
    grid-template-areas: 
    'one .  two two three three'
    'four four six six five five';
    /* 'six six six six six six'; */
    /* 'seven seven seven seven seven seven'; */
    text-align: left;
    grid-template-columns: auto;
    grid-template-rows: auto;
  }

  .none {
    text-decoration: none;
    color: inherit;
    position: relative; /* Ensure the pseudo-element is positioned relative to this element */
  }
  
  .non {
    text-decoration: none;
    color: inherit;
    position: relative; /* Ensure the pseudo-element is positioned relative to this element */
  }
  .non::after {
    content: "";
    position: absolute;
    width: 0;
    height: 1px;
    background-color: black;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    transition: width 0.6s ease;
  }
  
  .non:hover::after {
    width: 100%;
  }
  
  @keyframes borderAnimation {
    0% {
      width: 0;
    }
    /* 50% {
      width: 100%;
    } */
    100% {
      width: 100%;
    }
  }
  
  .non:hover::after {
    animation: borderAnimation 0.3s linear;
  }
  
  
  .none::after {
    content: "";
    position: absolute;
    width: 0;
    height: 1px;
    background-color: #f40009;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    transition: width 0.6s ease;
  }
  
  .none:hover::after {
    width: 100%;
  }
  
  @keyframes borderAnimation {
    0% {
      width: 0;
    }
    /* 50% {
      width: 100%;
    } */
    100% {
      width: 100%;
    }
  }
  
  .none:hover::after {
    animation: borderAnimation 0.3s linear;
  }
  

  .cent {
    text-align: center;
    /* position: relative; */
    /* margin: 200px 0 100px 0; */
    margin: 5.859375vw 0 0 0px;
    font-size: 20px;
    font-weight: bolder; 
  }
  @media (prefers-reduced-motion: no-preference) {
    .spin {
      animation: lspin infinite 20s linear;
    }
  }
  @keyframes lspin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  .po {
    text-align: center;
    margin-top: 2.34375vw;
    margin-right: 3.90625vw;
  }
  .notice {
    display: none;
  }
  /* .yc {
    color: "black";
    font-size: "30px"; 
    margin-top:"708px"!;
  } */
}


@media only screen and (max-width: 1024px) {
  .logo { 
    display: none;  
  } 
  .head { 
    display: none; 
  } 
  .wing { 
    text-align: center;
    font-size: 6.6vw;
    margin-top: 2vh;
  } 
  
  .cont { 
    text-align: left;
    font-size: 5.6vw;
    margin-top: 8vw;
    margin-left: 5vw;
  } 
  .name { 
    transform: translateY(400px);
    font-size: 7vw;
    font-weight: bold;
    margin-left: 8vw!important;
  } 

  .resu {
    font-size: 3.5vw;
  }
  .i { 
    margin-left: 10vw;
    margin-top: 8vw;
    height: 300px!important;
    width: 300px!important;
  } 
  .yc {
    margin: 8vw!important;
    text-align: right;
  }
  @media (prefers-reduced-motion: no-preference) {
    .spin {
      display: none;
    }
  }

  .cent {
    margin-top: 10px;
    text-align: center;
  }
  .none {
    text-decoration: none;
    color:inherit;
  }
}
